# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Build / distribution
build/
dist/
*.spec
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
